<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>One</button>
		<ng-template ngbNavContent>
			<p>
				A
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Two</button>
		<ng-template ngbNavContent>
			<p>
				B
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>Three</button>
		<ng-template ngbNavContent>
			<p>
				C
			</p>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Sound: {{ active }}</pre>

Sound Enabled[ {{ myValue }} ]
<button (click)="enable()">Enable</button>
<button (click)="disable()">Disable</button>

<app-salert></app-salert>
